mixin process

    .container
        div(class="flex flex-col md:flex-row-reverse gap-6 md:gap-10 md:items-center md:justify-between py-[50px] md:py-[100px]")
            img(src="/assets/images/process-mobile.png" alt="Selección de candidatos" class="w-full md:hidden h-auto object-cover")
            img(src="/assets/images/process-desktop.png" alt="Selección de candidatos" class="hidden md:block md:w-[42%] h-auto object-cover")
            div(class="flex flex-col items-start gap-6 md:gap-8 md:max-w-[570px]")
                div(class="flex flex-col gap-2 md:gap-4 ")
                    h2(class="font-bold text-heading-mobile-2 md:text-heading-desktop-2 text-secondary") Siempre sabrás&nbsp;
                        strong en qué punto está&nbsp;
                        | tu candidatura

                    p En R&S Jobs, no te dejamos en el limbo. Te informamos en cada etapa del proceso: cuándo aplicas, si tu CV es revisado, si avanzas o no y mucho más.
                        br
                        strong(class="text-dark font-bold") La comunicación constante aquí no es una promesa,&nbsp;
                            span(class="text-primary") es una realidad.
                a(href="/").btn.btn-primary Regístrate ahora
