include review
include color-card

mixin testimonials(data)
    - const testimonials = data.testimonials
    - const ctaCards = data.ctaCards
    - const colors = ['bg-green', 'bg-blue', 'bg-red']

    .container(class="py-[50px] md:py-[100px]")
        div(class="flex flex-col md:flex-row-reverse items-center gap-6 md:gap-[30px]")
            div(class="flex flex-col gap-3 md:gap-6 md:w-[50%]")
                each testimonial, index in testimonials
                    - const color = colors[index]
                    - const align = index % 2 === 0 ? 'md:self-start' : 'md:self-end'
                    +review(testimonial, color, align)
            div(class="flex flex-col items-start gap-8 md:w-[50%]")
                img(src="/assets/images/google-reviews.png" alt="Google Reviews" class="w-[182px] h-auto")
                .flex.flex-col.gap-4
                    h2(class="text-heading-mobile-2 md:text-heading-desktop-2 text-secondary font-bold") Ellos ya lo consiguieron. Tú puedes ser&nbsp;
                        strong(class="text-primary") el siguiente
                        | .
                    p Miles de candidatos ya han confiado en R&S Jobs. Con una valoración de 5 estrellas en Google, sus experiencias son nuestra mejor carta de presentación.
                a(href="/" class="btn btn-primary") Registrate ahora tu también

        div(class="flex flex-col md:flex-row gap-4 pt-[50px] md:pt-[100px]")
            each ctaCard, index in ctaCards
                - const color = index === 0 ? 'red' : 'blue'
                    +color-card(ctaCard, color)
