doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title RSJobs
        link(rel="stylesheet" href="/css/output.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")

    body.bg-light.text-dark(class="text-body-mobile md:text-body-desktop")
        // Incluir componentes
        include components/navbar
        include components/hero
        include components/footer
        include components/searchBar
        include components/categories
        include components/card-list
        include components/company-card
        include components/cta
        include components/city-card
        include components/process
        include components/testimonials
        include components/sos-trabajo
        include components/backdrop
        
        // Usar los mixins con los datos del JSON
        +navbar(data)
        section
            +hero(data)
        section(class="pb-[50px] lg:pb-[100px]")
            +categories(data)
            +card-list(data, 'companies-list')
        section.bg-gradient-secondary
            +cta(data)
        section.bg-light
            +testimonials(data)
        section.bg-gradient-secondary
            +sos-trabajo
        section(class="bg-light pb-[50px] lg:pb-[100px]")
            +process
            +card-list(data, 'cities-list')
        +footer(data)

        +backdrop

        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
        script(src="/js/testimonials-swiper.js")
