@font-face {
	font-family: 'RethinkSans';
	src: url('../assets/fonts/RethinkSans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RethinkSans';
	src: url('../assets/fonts/RethinkSans.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Botón base */
.btn {
	@apply inline-flex items-center justify-center px-3 py-1.5 rounded-[4px] font-bold;
}

/* Botón primario */
.btn-primary {
	@apply bg-primary text-white transition-all;
}

.btn-primary:hover {
	@apply bg-[#CC305B];
}

.btn-primary-outline {
	@apply text-primary bg-transparent shadow-[inset_0_0_0_2px_#F0386B] transition-all;
}

.btn-primary-outline:hover {
	@apply bg-primary text-white;
}

/* Botón secundario */
.btn-secondary {
	@apply bg-secondary text-white transition-all;
}

.btn-secondary:hover {
	@apply bg-[#071931];
}

.btn-secondary-outline {
	@apply text-secondary bg-transparent shadow-[inset_0_0_0_2px_#0b2a52] transition-all;
}

.btn-secondary-outline:hover {
	@apply bg-secondary text-white;
}

.container {
	@apply max-w-[1170px] mx-auto px-6 xl:px-0;
}

.text-secondary strong {
	@apply text-primary;
}

input[type='text'] {
	@apply border-b border-secondary/50 placeholder-secondary/50 focus:outline-none focus:ring-0 appearance-none bg-transparent;
}

input[type='radio'],
input[type='checkbox'] {
	@apply accent-blue;
}

/* Personalización del select */

select {
	@apply appearance-none bg-transparent focus:outline-none focus:ring-0;
}

.custom-select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-right: 2rem;
	background-image: url('/assets/images/arrow-down.svg');
	background-repeat: no-repeat;
	background-position: right 0.5rem center;
	background-size: 0.75rem 0.75rem;
}

.testimonials-swiper .swiper-pagination {
	position: relative;
	margin-top: 12px;
}

.testimonials-swiper .swiper-pagination-bullet {
	@apply bg-primary;
	opacity: 0.3;
}

.testimonials-swiper .swiper-pagination-bullet-active {
	opacity: 1;
}
