extends ../layouts/base

block title
    | Política de cookies - R&S Jobs

block content

    style.

        p + p,
        p + ul,
        p + ol,
        ul + p,
        ol + p {
            margin-top: 0.5rem;
        }

    .container
        div(id="cookie-policy" class="flex flex-col gap-6 md:gap-8 py-6 lg:py-8")
            h1(class="text-heading-mobile-1 md:text-heading-desktop-1 text-secondary font-bold") Política de cookies
            div
                p Esta política de cookies tiene por  finalidad informar de manera clara y precisa sobre las cookies que se  utilizan en la página web y/o plataforma de empleo (conjuntamente “Sitio  Web”). MARTED & AGÜERO ASOCIADOS, S.L. (“R&S”) utiliza cookies  propias y de terceros para mejorar los servicios, personalizar el Sitio  Web, facilitar la navegación de los Usuarios, proporcionarle una mejor  experiencia en el uso del sitio web, identificar problemas para mejorar  el mismo, hacer mediciones y estadísticas de uso y mostrarle publicidad  relacionada con sus preferencias mediante el análisis del uso del Sitio  Web. R&S le informa de que puede utilizar cookies en su equipo a  condición de que haya dado su consentimiento, salvo en los supuestos en  los que las cookies sean necesarias para la navegación por el Sitio Web.  En caso de que preste su consentimiento, R&S podrá utilizar cookies  que nos permitirán tener más información acerca de sus preferencias y  personalizar nuestro Sitio web de conformidad con sus intereses  individuales.
                p R&S le informa de que los  servidores del Sitio Web podrán detectar de manera automática la  dirección IP y el nombre de dominio utilizados por el Usuario. Una  dirección IP es un número asignado automáticamente a un ordenador cuando  éste se conecta a Internet. Toda esta información es registrada en un  fichero de actividad del servidor debidamente inscrito que permite el  posterior procesamiento de los datos con el fin de obtener mediciones  únicamente estadísticas que permitan conocer el número de impresiones de  páginas, el número de visitas realizadas a los servidores web, el orden  de visitas, el punto de acceso, etc.

            .flex.flex-col.gap-5
                h2(class="text-heading-mobile-3 md:text-heading-desktop-3 text-primary font-bold") 1. ¿QUÉ SON LAS COOKIES?

                div
                    p Una cookie es un pequeño archivo o fichero de  texto que se descarga en el ordenador/smartphone/tablet del usuario (en  adelante “Usuario”) al acceder a determinados sitios web y aplicaciones,  que permiten el almacenamiento y recuperación de los datos del Usuario  como, por ejemplo, el número de veces que ha visitado el Sitio Web.  También se utilizan, para garantizar la calidad, usabilidad y correcto  funcionamiento de los sitios web.
                    p Las cookies almacenan información sobre los  Usuarios y en consecuencia pueden afectar a la privacidad de los mismos.  Esta información no solo es de carácter técnico y estadístico, pues  hace referencia a preferencias personales y permite la personalización  de contenidos. De este modo, el objetivo de las cookies es adaptar el  contenido de la web a tu perfil y necesidades.
                    p Asimismo, R&S utiliza tecnologías similares a  las cookies como píxeles. Web beacons o bugs que permiten almacenar y  recuperar datos en el ordenador/smartphone/tablet del Usuario.

            .flex.flex-col.gap-5
                h2(class="text-heading-mobile-3 md:text-heading-desktop-3 text-primary font-bold") 2. TIPOS DE COOKIES
                span.font-bold.text-primary Tipos de cookies en función de la entidad que las gestione:
                ul
                    li Cookies propias: son aquellas que se  envían al equipo terminal del Usuario desde un equipo o dominio  gestionado por el titular de la página web y desde la que se presta el  servicio solicitado por el Usuario.
                    li Cookies de terceros: son aquellas que se  envían al equipo terminal del Usuario desde un equipo o dominio que no  es gestionado por el titular de la página web desde la que se presta el  servicio solicitado por el Usuario, sino por otra entidad que trata los  datos obtenidos través de las cookies. Asimismo, en el caso de que las  cookies sean instaladas desde un equipo o dominio gestionado por el  propio titular del Sitio Web pero la información que se recoja mediante  éstas sea gestionada por un tercero, también serán consideradas como  cookies de terceros.
                span.font-bold.text-primary Tipos de cookies según la finalidad:
                ul
                    li Cookies técnicas (necesarias): estas  cookies permiten que el sitio web funcione correctamente por lo que son  imprescindibles para que puedas usar todas las opciones del sitio web y  puedas navegar y utilizar las funciones de la misma con normalidad.
                    li Cookies de preferencia o de  personalización: son aquellas que permiten recordar información, para  que puedas acceder al sitio web, con características que pueden  diferenciar tu experiencia de las de otros Usuarios, como, por ejemplo,  el aspecto o contenido del sitio web, que podrá variar en función del  tipo de navegador que utilizas.
                    li Cookies de análisis o medición: son  cookies que permiten cuantificar el número de Usuarios y el tiempo de  conexión de los mismos, con el objetivo de realizar la medición y,  análisis estadístico de la utilización que hacen de los servicios  ofertados.
                    li Cookies publicitarias: son aquellas que permiten la gestión, de la forma más eficaz posible, de los espacios  publicitarios que, en su caso, se hayan incluido en el Sitio Web.
                    li Cookies de publicidad comportamental:  son aquellas que permiten, la gestión eficaz de los espacios  publicitarios que se hayan podido incluir en el sitio web, a través del  almacenamiento de información del comportamiento del Usuario, obtenidas  gracias a la observación continuada de tus hábitos de navegación, lo que  permite desarrollar un perfil específico para mostrar publicidad en  función del mismo.
                    li Cookies de geolocalización: se utilizan  para saber en qué lugar se encuentra un Usuario cuando solicita un  servicio. Esta cookie es anónima y se usa por ejemplo para ofrecerle la  información adecuada dependiendo del país en el que se encuentre.
                span.font-bold.text-primary Tipos de cookies según plazo de tiempo que permanecen activadas
                ul
                    li Cookies de sesión: son aquellas  diseñadas para recabar y almacenar datos mientras el Usuario accede a  una página web. Se suelen emplear para almacenar información que solo  interesa conservar para la prestación del servicio solicitado por el  Usuario en una sola ocasión (por ejemplo, una lista de productos  adquiridos) y desaparecen al terminar la sesión.
                    li Cookies persistentes: son aquellas en  las que los datos siguen almacenados en el terminal y pueden ser  accedidos y tratados durante un periodo definido por el responsable de  la cookie, y que puede ir de unos minutos a varios años.

            .flex.flex-col.gap-5
                h2(class="text-heading-mobile-3 md:text-heading-desktop-3 text-primary font-bold") 3. COOKIES UTILIZADAS EN EL PÁGINA WEB Y/O EN LA PLATAFORMA DE EMPLEO
                span A continuación, R&S le muestra las cookies que se usan respectivamente:

            .flex.flex-col.gap-5
                h3(class="text-heading-mobile-3 md:text-heading-desktop-3 text-primary font-bold") A. PÁGINA WEB
                .table-container
                    table
                        thead
                            tr
                                th Denominación
                                th Titular
                                th Duración
                                th Finalidad
                        tbody
                            tr
                                td 1P_JAR
                                td Google Adwords
                                td Persistente
                                td Finalidad publicitaria.
                            tr
                                td S_vi
                                td Adobe Analytics
                                td 1 dia
                                td Marca de fecha y hora del identificador de visitante único.
                            tr
                                td PHPSESSID
                                td Cookie Técnica
                                td Sesión
                                td Contiene el identificador de la sesión. Se elimina al cerrar el navegador.

            .flex.flex-col.gap-5
                h3(class="text-heading-mobile-3 md:text-heading-desktop-3 text-primary font-bold") B. PLATAFORMA  DE EMPLEO
                .table-container
                    table
                        thead
                            tr
                                th Denominación
                                th Titular
                                th Duración
                                th Finalidad
                        tbody
                            tr
                                td RsJobs.Af
                                td Cookie Técnica
                                td Sesión
                                td Antiforgery: prevencion de ataques.
                            tr
                                td RsJobs.GDRP
                                td Cookie Técnica
                                td Desde 1 dia
                                td Almacena la respuesta al consentimiento GDPR.
                            tr
                                td RsJobs.User
                                td Cookie Técnica
                                td Sesión
                                td Sesion de usuario
                            tr
                                td ReCaptcha
                                td Cookie Técnica
                                td -
                                td Seguridad
                            tr
                                td Google security_storage
                                td Cookie Técnica
                                td -
                                td Habilita el almacenamiento relacionado con la seguridad.
                            tr
                                td Google funcionality_storage
                                td Cookie Técnica
                                td -
                                td Habilita el almacenamiento compatible con la funcionalidad del sitio web o aplicacion.
                            tr
                                td Google analitics_storage
                                td Thirdparty
                                td -
                                td Habilita el almacenamiento con analíticas.
                            tr
                                td Google personalization_storage
                                td Thirdparty
                                td -
                                td Habilita el almacenamiento relacionado con la personalizacion.
                            tr
                                td Google ad_storage
                                td Thirdparty
                                td -
                                td Habilita el almacenamiento relacionado con la publicidad
                            tr
                                td Clarity
                                td Thirdparty
                                td -
                                td Habilita el almacenamiento con analiticas.

            .flex.flex-col.gap-5
                h2(class="text-heading-mobile-3 md:text-heading-desktop-3 text-primary font-bold") 4. ¿SE REALIZA UN TRATAMIENTO DE DATOS PERSONALES A TRAVÉS DE COOKIES?
                div
                    p En ocasiones, la información que almacenan las  cookies permite la identificación de los Usuarios y por eso recibe el  trato de dato personal. R&S, como el Responsable del Tratamiento le  informa que únicamente tratará estos datos de acuerdo con la finalidad  descrita para cada cookie en el apartado anterior.
                    p Para más información sobre el trato que reciben tus datos personales y el ejercicio de tus derechos, puedes consultar la&nbsp;
                        a(href="/politica-de-privacidad" class="text-primary") Política de Privacidad
                        | &nbsp;de R&S.

            .flex.flex-col.gap-5
                h2(class="text-heading-mobile-3 md:text-heading-desktop-3 text-primary font-bold") 5. TRANSFERENCIAS INTERNACIONALES DE DATOS CON EL USO DE LAS COOKIES
                div
                    p La aceptación de algunas de estas cookies puede  suponer la transferencia internacional de datos a terceros países  necesaria para el funcionamiento de los servicios de los proveedores de  R&S. La base legal para dicha transferencia es su consentimiento,  manifestado al consentir el uso de las cookies de que en cada caso se  trate. En todo caso, las transferencias internacionales de datos se  realizarán a países con un adecuado nivel de protección declarado por la  Comisión Europea y/o en base a la aportación de garantías adecuadas  tales como cláusulas contractuales tipo (artículos 45 y 46 del  Reglamento General de Protección de Datos).
                    p Puede informarse de las transferencias a  terceros países que, en su caso, realizan los terceros identificados en  esta Política de Cookies en sus correspondientes políticas, accesibles  en el apartado “Cookies utilizadas en el sitio web”.

            .flex.flex-col.gap-5
                h2(class="text-heading-mobile-3 md:text-heading-desktop-3 text-primary font-bold") 6. ¿CÓMO SE DESHABILITAN LAS COOKIES EN LOS NAVEGADORES?
                div
                    p El Usuario puede, en cualquier momento,  permitir, bloquear o eliminar las cookies instaladas en su equipo  mediante la modificación de los parámetros de configuración del  navegador instalado en su ordenador:
                    ul
                        li Chrome Configuración -> Mostrar  opciones avanzadas -> Privacidad -> Configuración del contenido.  Para más información, puede consultar el soporte de Google o la Ayuda  del navegador.
                        li Edge Herramientas -> Opciones de  Internet -> Privacidad -> Configuración. Para más información,  puede consultar el soporte de Microsoft o la Ayuda del navegador.
                        li Firefox: Herramientas ->Opciones  -> Privacidad -> Historial -> Configuración Personalizada. Para  más información, puede consultar el soporte de Mozilla o la Ayuda del  navegador.
                        li Safari Preferencias -> Seguridad. Para más información, puede consultar el soporte de Apple o la Ayuda del navegador.
                    p La desactivación de las cookies no impide la  navegación por el Sitio web, aunque el uso de algunos de sus servicios  podrá ser limitado y, por tanto, su experiencia de navegación podrá ser  menos satisfactoria.

            .flex.flex-col.gap-5
                h2(class="text-heading-mobile-3 md:text-heading-desktop-3 text-primary font-bold") 7. COOKIES EN LOS DISPOSITIVOS MÓVILES
                div
                    p Las cookies y otros dispositivos de almacenamiento también se utilizan cuando accede al Sitio Web desde dispositivos móviles.
                    p Al igual que sucede en los navegadores de  ordenadores, los navegadores de los dispositivos móviles permiten  realizar cambios en las opciones o ajustes de privacidad para desactivar  o eliminar las cookies.
                    p Si desea modificar las opciones de privacidad  sigue las instrucciones especificadas por el desarrollador de su  navegador para dispositivo móvil.
                    p A continuación, podrá encontrar algunos ejemplos  de los links que le guiarán para modificar las opciones de privacidad  en tu dispositivo móvil:
                    ol
                        li IOS: #[a(href="http://goo.gl/61xevS" class="text-primary") http://goo.gl/61xevS]
                        li Windows Phone: #[a(href="https://goo.gl/tKyb0y" class="text-primary") https://goo.gl/tKyb0y]
                        li Chrome Mobile: #[a(href="http://goo.gl/XJp7N" class="text-primary") http://goo.gl/XJp7N]
                        li Opera Mobile: #[a(href="http://goo.gl/Nzr8s7" class="text-primary") http://goo.gl/Nzr8s7]

            .flex.flex-col.gap-5
                h2(class="text-heading-mobile-3 md:text-heading-desktop-3 text-primary font-bold") 8. CAMBIOS EN LA POLÍTICA DE COOKIES
                p Es posible que R&S modifique la información contenida en esta  Política de Cookies. En caso de así hacerlo, podrá notificárselo a  través del Sitio Web (por ejemplo, a través de un banner o un pop-up).  En cualquier caso, es conveniente que revise esta Política de Cookies  periódicamente por si hubiera cambios en su contenido.

            .flex.flex-col.gap-5
                h2(class="text-heading-mobile-3 md:text-heading-desktop-3 text-primary font-bold") 9. RETIRAR EL CONSENTIMIENTO
                div
                    p El Usuario podrá retirar en cualquier momento su  consentimiento relacionado con la Política de Cookies, y podrá eliminar  las cookies almacenadas en su equipo a través de los ajustes y  configuraciones de su navegador de Internet, indicados anteriormente,  así como accediendo al #[button(class="text-primary" aria-haspopup="dialog" aria-controls="cookie-banner" aria-expanded="false") panel de configuración].
                    p R&S le informa de que en el caso de bloquear  o no aceptar la instalación de cookies, es posible que no pueda acceder  a ciertos servicios del Sitio web, o no estén disponibles.
                    p Puede acceder a más información sobre el tratamiento de sus datos y el ejercicio de sus derechos, en la #[a(href="/politica-de-privacidad" class="text-primary") Política de Privacidad].
