extends ../layouts/base

block title
    | Portal de Empleo - R&S Jobs

block content
    include ../components/hero
    include ../components/categories
    include ../components/card-list
    include ../components/cta
    include ../components/testimonials
    include ../components/sos-trabajo
    include ../components/process

    section
        +hero(data)
    section(class="pb-[50px] lg:pb-[100px]")
        +categories(data)
        +card-list(data, 'companies-list')
    section.bg-gradient-secondary
        +cta(data)
    section.bg-light
        +testimonials(data)
    section.bg-gradient-secondary
        +sos-trabajo
    section(class="bg-light pb-[50px] lg:pb-[100px]")
        +process
        +card-list(data, 'cities-list')
