extends ../layouts/base

block title
    | Portal de Empleo - R&S Jobs

block content
    include ../components/home/hero
    include ../components/home/top-categories
    include ../components/home/top-companies
    include ../components/home/cta
    include ../components/home/testimonials
    include ../components/home/sos-trabajo
    include ../components/home/process
    include ../components/home/top-cities

    section
        +hero()
    section(class="pb-[50px] lg:pb-[100px]")
        +top-categories()
        +top-companies()
    section.bg-gradient-secondary
        +cta()
    section.bg-light
        +testimonials()
    section.bg-gradient-secondary
        +sos-trabajo
    section(class="bg-light pb-[50px] lg:pb-[100px]")
        +process
        +top-cities()
