extends ../layouts/base

block title
    | Aviso legal - R&S Jobs

block content

    style.

        p + p {
            margin-top: 0.5rem;
        }
        p + ul {
            margin-top: 0.5rem;
        }
        p + ol {
            margin-top: 0.5rem;
        }
        ul + p {
            margin-top: 0.5rem;
        }
        ol + p {
            margin-top: 0.5rem;
        }
        span + ul {
            margin-top: 0.5rem;
        }

        a + p {
            margin-top: 0.5rem;
        }

        p + a {
            margin-top: 0.5rem;
            display: inline-block;
        }

    .container
        div(id="candidate-privacy-policy" class="flex flex-col gap-6 md:gap-8 py-6 lg:py-8")
            h1(class="text-heading-mobile-1 md:text-heading-desktop-1 text-secondary font-bold") Aviso legal
            div
                p MARTED & AGÜERO ASOCIADOS, S.L. (“R&S”),  pone a disposición de los usuarios el presente texto, con el que  pretende dar cumplimiento a las obligaciones dispuestas en la Ley  34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y  de Comercio Electrónico (“LSSICE”), así como informar a todos los  usuarios del sitio web y/o portal de empleo acerca de las condiciones de  uso que rigen su navegación y utilización.
                p En adelante, cuando se haga  referencia al sitio web (“Sitio Web”), se entenderán como parte  inherente al mismo sus contenidos, servicios y funcionalidades en  general. En adelante, cuando se haga referencia al usuario (“Usuario”  y/o “Usuarios”), se entenderá cualquier visitante que realice la  navegación, acceso y uso del Sitio Web, sus servicios y funcionalidades  en general. Asimismo, cuando se haga referencia a la plataforma de  empleo ("Plataforma”) se entenderá a cualquier usuario que se dé de alta  y use la Plataforma, tanto como empresa (“Empresa”) como candidato  ("Candidato”).
                p La utilización de este Sitio Web y/o  Plataforma, está sujeta a la Política de Privacidad, a la Política de  Cookies ya los Términos y Condiciones de Uso, juntos constituyen el  marco legal aplicable (conjuntamente “Términos Legales”).
                p Los Términos Legales se actualizan  periódicamente, por lo que resultarán aplicables los que se encuentren  vigentes y publicados en el momento de utilización del Sitio Web y/o  Plataforma. El Usuario deberá leer atentamente estos textos antes de  proceder a la navegación por el Sitio Web y/o al uso de la Plataforma,  así como periódicamente. En caso de que el Usuario no esté de acuerdo  con los Términos Legales, se deberá abstener a usar el Sitio Web y/o la  Plataforma.

            .flex.flex-col.gap-3
                h2(class="text-heading-mobile-3 md:text-heading-desktop-3 text-primary font-bold") 1. DATOS IDENTIFICATIVOS
                ul
                    li Nombre comercial: R&S JOBS
                    li Denominación social: MARTED & AGÜERO ASOCIADOS, S.L.
                    li NIF: B65525453
                    li Domicilio social: Plaza Urquinaona, número 7, 3º-1ª
                    li Teléfono: 900 877 735
                    li E-mail: info@rs-jobs.com
                    li Inscrita en el Registro Mercantil de Barcelona, Tomo 42459, Folio 0179, Hoja 408833 e Inscripción 1.

            .flex.flex-col.gap-3
                h2(class="text-heading-mobile-3 md:text-heading-desktop-3 text-primary font-bold") 2. ACCESO Y CONDICIONES DE UTILIZACIÓN DEL SITIO WEB Y/O LA PLATAFORMA
                div
                    p El acceso al Sitio Web tiene carácter gratuito  para los Usuarios, no obstante, la Plataforma puede conllevar algún  gasto dependiendo de la modalidad contratada. Ambas están dirigidos a  Usuarios mayores de edad.
                    p Cualquier uso no autorizado queda prohibido salvo que cuente con la previa autorización por escrito de R&S.
                    p R&S se reserva el derecho de  denegar, suspender, interrumpir o cancelar el acceso o la utilización,  total o parcialmente, del Sitio Web y/o de la Plataforma a aquellos  Usuarios que incumplan cualquiera de las condiciones previstas en este  Aviso Legal y/o cualquiera de los Términos Legales.
                    p Asimismo, R&S tendrá derecho a  investigar y denunciar cualquiera de las conductas mencionadas de  acuerdo con la Ley, así como a colaborar con las autoridades en la  investigación de dichas actuaciones.

            .flex.flex-col.gap-3
                h2(class="text-heading-mobile-3 md:text-heading-desktop-3 text-primary font-bold") 3. OBLIGACIÓN DE HACER UN USO CORRECTO DEL SITIO WEB Y/O PLATAFORMA
                div
                    p El Usuario se compromete a hacer un uso adecuado  del Sitio Web y/o de la Plataforma, de los materiales, servicios y  formularios ofrecidos a través de la misma, de conformidad con la  legislación aplicable y siempre para las finalidades para las que han  sido creados.
                    p A este efecto, el Usuario se  abstendrá de utilizar el Sitio Web y/o la Plataforma con fines o efectos  ilícitos, prohibidos o no autorizados, o lesivos de los derechos e  intereses de terceros; o que de cualquier forma puedan dañar,  inutilizar, sobrecargar, deteriorar o impedir la normal utilización del  Sitio Web y/o Plataforma, los servicios, equipos informáticos,  documentos, archivos y demás contenidos ofrecidos por R&S en el  Sitio Web y/o la Plataforma que puedan estar almacenados en cualquier  equipo informático de R&S, de otros Usuarios o de cualquier Usuario  de internet (tanto hardware como software).
                    p Particularmente, el Usuario se compromete a (con carácter enunciativo, pero no limitativo):
                    ul
                        li No incurrir en actividades ilícitas, ilegales o contrarias a la buena fe y al orden público;
                        li No provocar daños en los sistemas físicos y lógicos del Sitio Web y/o la Plataforma, de sus proveedores o de terceras personas;
                        li No  introducir o difundir virus informáticos o cualesquiera otros sistemas  físicos o lógicos que puedan provocar daños en las redes, equipos,  sistemas de los Usuarios, del Sitio Web y/o de la Plataforma o de  R&S.
                        li No intentar acceder, utilizar y/o manipular los datos de R&S, terceros proveedores y/u otros Usuarios;
                        li No  suprimir, alterar, eludir o manipular cualquier dispositivo de  protección o sistemas de seguridad que puedan estar instalados en el  mismo;
                        li No  usar robots, sistemas de exploración y almacenamiento de datos (como  spiders o scrapers), enlaces ocultos o cualquier otro recurso,  herramienta, programa, algoritmo o método de recolección/extractor de  datos automático para acceder, adquirir, copiar o monitorear el Sitio  Web y/o la Plataforma, sin el permiso expreso por escrito de R&S.
                        li No  emplear los servicios y, en particular, la información de cualquier  clase obtenida a través del Sitio Web y/o la Plataforma para remitir  publicidad, comunicaciones con fines de venta directa o con cualquier  otra clase de finalidad comercial, mensajes no solicitados dirigidos a una pluralidad de personas con independencia de su finalidad, así como  de comercializar o divulgar de cualquier modo dicha información.
                        li No  suplantar la identidad de otra persona u organización, utilizar un  lenguaje irrespetuoso u ofensivo tales como insultos, amenazas o  comentarios que puedan herir la sensibilidad de otros usuarios; o  presentar, recomendar y/o citar empresas o portales web y/o realizar  acciones de marketing o spam. Este tipo de contenidos serán eliminados  junto con, en su caso, las cuentas que llevaron a cabo tales acciones.
                    p R&S se reserva el derecho de  retirar cualquier contenido que sea irrespetuoso   y/o contravenga lo  dispuesto en la presente sección, así como a ejercitar las acciones  legales que resulten oportunas.

            .flex.flex-col.gap-3
                h2(class="text-heading-mobile-3 md:text-heading-desktop-3 text-primary font-bold") 4. OBLIGACIÓN DE HACER UN USO CORRECTO DE LOS CONTENIDOS
                div
                    p El Usuario se compromete a utilizar los  contenidos puestos a su disposición en el Sitio Web y/o en la  Plataforma, entendiendo por éstos, sin que esta enumeración tenga  carácter limitativo, los textos, fotografías, gráficos, ficheros,  logotipos, imágenes, iconos, tecnología, software y links; así como la  selección y forma de presentación de los materiales incluidos en la  misma y demás contenidos audiovisuales o sonoros, su software, diseño  gráfico y los códigos fuente necesarios para su funcionamiento, acceso y  utilización (los “Contenidos”), de conformidad con la ley y los  Términos Legales y, en particular, se abstendrá de:
                    ul
                        li Reproducir,  copiar, distribuir, poner a disposición o de cualquier otra forma  comunicar públicamente, transformar o modificar, o realizar cualquier  otra forma de explotación, por cualquier procedimiento, de todo o parte  de los contenidos, así como de su diseño y la selección y forma de  presentación, a menos que tengas la autorización expresa de R&S o  del titular de los correspondientes derechos o que ello resulte  legalmente permitido;
                        li Descompilar,  desensamblar, realizar ingeniería inversa, sublicenciar o transmitir de  cualquier modo, traducir o realizar obras derivadas de los programas de  ordenador necesarios para el funcionamiento, acceso y utilización del  Sitio Web y/o de la Plataforma y de los servicios en ella contenidos,  así como realizar, respecto a todo o parte de tales programas,  cualesquiera de los actos de explotación descritos en el párrafo  anterior. El Usuario del Sitio Web deberá abstenerse en todo caso de suprimir, alterar, eludir o manipular cualquier dispositivo de  protección o sistemas de seguridad que puedan estar instalados en el  mismo.
                        li Suprimir, manipular o de cualquier forma alterar cualquier reserva de derechos y demás datos identificativos;

            .flex.flex-col.gap-3
                h2(class="text-heading-mobile-3 md:text-heading-desktop-3 text-primary font-bold") 5. DERECHOS DE PROPIEDAD INTELECTUAL E INDUSTRIAL
                p El Sitio Web y/o la Plataforma, incluyendo a título enunciativo, pero no  limitativo su programación, edición, compilación y demás elementos  necesarios para su funcionamiento, los diseños, logotipos, texto y/o  gráficos, son propiedad de R&S o, si es el caso, dispone de licencia  o autorización expresa por parte de los autores. Todos los contenidos  del Sitio Web y/o la Plataforma se encuentran debidamente protegidos por  la normativa de propiedad intelectual e industrial, así como inscritos  en los registros públicos correspondientes. Independientemente de la  finalidad para la que fueran destinados, la reproducción total o  parcial, uso, explotación, distribución y comercialización, requiere en  todo caso de la autorización escrita previa por parte de R&S.  Cualquier uso no autorizado previamente se considera un incumplimiento  grave de los derechos de propiedad intelectual o industrial del autor.  Los diseños, logotipos, texto y/o gráficos ajenos a R&S y que  pudieran aparecer en el Sitio Web y/o Plataforma, pertenecen a sus  respectivos propietarios, siendo ellos mismos responsables de cualquier  posible controversia que pudiera suscitarse respecto a los mismos.  R&S autoriza expresamente a que terceros puedan redirigir  directamente a los contenidos concretos del Sitio Web y/o Plataforma, y  en todo caso redirigir al Sitio Web principal de rs-jobs.com/. R&S  reconoce a favor de sus titulares los correspondientes derechos de  propiedad intelectual e industrial, no implicando su sola mención o  aparición en el Sitio Web y/o Plataforma la existencia de derechos o  responsabilidad alguna sobre los mismos, como tampoco respaldo,  patrocinio o recomendación por parte del mismo. Para realizar cualquier  tipo de observación respecto a posibles incumplimientos de los derechos  de propiedad intelectual o industrial, así como sobre cualquiera de los  contenidos del Sitio Web, puede hacerlo a través del correo electrónico #[a(href="mailto:soporte@rs-jobs.com" class="text-primary") soporte@rs-jobs.com].

            .flex.flex-col.gap-3
                h2(class="text-heading-mobile-3 md:text-heading-desktop-3 text-primary font-bold") 6. EXENCIÓN DE RESPONSABILIDADES
                div
                    p R&S se exonera de cualquier responsabilidad  por acciones y/o reclamaciones por daños y perjuicios derivados de su  propia conducta o incumplimiento de los Términos Legales, en especial de  daños y perjuicios por la falta de veracidad, vigencia, exhaustividad  y/o autenticidad de la información proporcionada, incluyendo la  suplantación y/o simulación de la personalidad de un tercero en  cualquier comunicación realizada a través del Sitio Web y/o la  Plataforma. Asimismo, R&S excluye cualquier responsabilidad por las  decisiones tomadas por el Usuario basadas en el contenido del Sitio Web  y/o la Plataforma. R&S no verifica la integridad, precisión o  legalidad del contenido de terceros, y, por lo tanto, no asume ninguna  responsabilidad o garantía por la integridad, precisión legalidad y  actualidad del contenido de terceros. En todo caso, procederá a la  retirada inmediata de cualquier contenido que pudiera contravenir la  legislación nacional o internacional, la moral o el orden público  procediendo a la retirada inmediata de la redirección a dicho sitio web,  poniendo en conocimiento de las autoridades competentes el contenido en  cuestión.
                    p R&S no se hace responsable de la  información y contenidos almacenados, a título enunciativo, pero no  limitativo, en foros, chats, generadores de blogs, comentarios, redes  sociales o cualquier otro medio que permita a terceros publicar de forma  independiente en el Sitio Web. Sin embargo, y en cumplimiento de lo  dispuesto en los artículos 11 y 16 de la LSSICE, se pone a disposición  de todos los usuarios, autoridades y fuerzas de seguridad, colaborando  de forma activa en la retirada o, en su caso, bloque de todos aquellos  contenidos que puedan afectar o contravenir la legislación nacional o  internacional, los derechos de terceros o la moral y el orden público.  En caso de que el Usuario considere que existe en el Sitio Web algún  contenido que pudiera ser susceptible de esta clasificación, se ruega lo  notifique de forma inmediata al administrador del Sitio Web.
                    p R&S no garantiza la  disponibilidad, continuidad ni la infalibilidad del funcionamiento del  Sitio Web, y por lo tanto excluye cualquier responsabilidad por daños y  perjuicios derivados de la falta de disponibilidad o continuidad del  mismo y sus servicios. De igual modo, R&S no será responsable de cualesquiera daños informativos u otros que puedan ocurrir al Usuario  durante su visita, acceso, navegación y/o uso del Sitio Web.
                    p El Usuario responderá de los daños y  perjuicios de toda naturaleza que R&S pueda sufrir como  consecuencia del incumplimiento de cualquiera de las obligaciones a las  que quedas sometido por los presentes Términos Legales. El Usuario es  consciente y acepta voluntariamente que el uso de cualesquiera  contenidos del Sitio Web y/o Plataforma tiene lugar, en todo caso, bajo  su única y exclusiva responsabilidad, debiendo proporcionar la  información necesaria en tiempo y forma y siguiendo las pautas e  indicaciones del Sitio Web y/o Plataforma.
                    p En todo caso, R&S se compromete a  tratar de solucionar los problemas y/o incidencias que pudieran surgir  con la mayor diligencia posible y a ofrecer todo el apoyo necesario al  Usuario para, en su caso, poder llegar a una solución rápida y  satisfactoria de la incidencia.

            .flex.flex-col.gap-3
                h2(class="text-heading-mobile-3 md:text-heading-desktop-3 text-primary font-bold") 7. PROTECCIÓN DE DATOS
                p De conformidad con lo dispuesto en la normativa vigente en materia de  Protección de Datos, todos los datos de carácter personal facilitados  durante la utilización del Sitio Web y/o Plataforma serán tratados de  conformidad con lo dispuesto en las #[a(href="/politica-de-privacidad-para-candidatos" class="text-primary") Política de Privacidad disponibles aquí] que todo Usuario declara conocer y entender cuando visita al Sitio Web y/o la Plataforma.

            .flex.flex-col.gap-3
                h2(class="text-heading-mobile-3 md:text-heading-desktop-3 text-primary font-bold") 8. IDIOMA
                p Para R&S el Usuario es la prioridad e intenta dirigirse siempre que  es posible en su propio idioma. Por ello, R&S ha traducido los  Términos Legales a varios idiomas, en concreto al catalán y al  castellano. No obstante, en caso de conflicto o dudas sobre el  significado o alcance de algún apartado, término o expresión contenidos  en éstas, será de aplicación prioritaria la versión en castellano, por  ser la versión original en la que han sido redactados los Términos  Legales.

            .flex.flex-col.gap-3
                h2(class="text-heading-mobile-3 md:text-heading-desktop-3 text-primary font-bold") 9. LEY APLICABLE Y JURISDICCIÓN
                p La ley aplicable en caso de disputa o conflicto de interpretación de los  términos que conforman de textos legales, así como cualquier cuestión  relacionada con los servicios del presente Sitio Web, así como cualquier  cuestión relacionada con los servicios del Sitio Web, será la ley  española.

            .flex.flex-col.gap-3
                h2(class="text-heading-mobile-3 md:text-heading-desktop-3 text-primary font-bold") 10. RESOLUCIÓN EXTRAJUDICIAL DE CONFLICTOS EN LÍNEA
                div
                    p En caso de ser consumidor, si tiene queja o  reclamaciones puede dirigirlas a la siguiente dirección de correo  electrónico: soporte@rs-jobs.com . Además, en el supuesto de que  considere que sus derechos han sido vulnerados, de acuerdo con el  Reglamento (UE) 524/2013 del Parlamento Europeo y del Consejo de 21 de  mayo de 2013, R&S le informa de que tiene derecho a acudir a un  procedimiento de resolución alternativa de conflictos en línea en  materia de consumo.
                    p Podrá solicitar dicho procedimiento en la plataforma que encontrarás en la siguiente dirección:
                    a(href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=ES" class="text-primary") https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=ES
                    p El uso de la plataforma en línea no  es necesario ni obligatorio. Por lo tanto, los consumidores son libres  de hacer valer sus reclamaciones sin usar previamente la plataforma.
