extends ../layouts/base

block title
    | Acceso candidato - R&S Jobs

block content

    .container
        div(class="grid md:grid-cols-12 gap-6 lg:gap-[30px] py-6 md:py-8")
            div(class="md:col-span-7 lg:col-span-6 shadow-md rounded-md overflow-hidden bg-white flex flex-col")
                div(class="flex flex-col gap-4 p-6 lg:p-8 grow justify-center")
                    div(class="flex flex-col gap-3 items-center")
                        h1(class="text-heading-mobile-2 md:text-heading-desktop-2 text-secondary font-bold") Accede a tu cuenta
                        p ¡Nos alegra volver a verte!
                    div(data-component="LoginForm")
                div(class="bg-gradient-secondary text-center py-4 px-6 text-small-mobile md:text-small-desktop")
                    span ¿Eres empresa?&nbsp;
                        a(href="/login/empresa" class="text-blue underline") Accede a tu cuenta

            div(class="md:col-span-5 lg:col-span-6 flex flex-col lg:flex-row shadow-md rounded-md overflow-hidden bg-gradient-secondary")
                img(src="/assets/images/login/login-decoration-horizontal.png" alt="" class="lg:hidden w-full h-auto object-cover")
                img(src="/assets/images/login/login-decoration-vertical.png" alt="" class="hidden lg:block w-[35%] max-w-[202px] h-auto object-cover object-left")
                div(class="flex flex-col gap-4 lg:gap-6 p-6 lg:p-8")
                    h2(class="text-heading-mobile-3 md:text-heading-desktop-3 text-primary font-bold") ¿Eres nuevo/a?
                    .flex.flex-col.gap-3
                        div(class="flex gap-3 items-start")
                            .flex.items-center.justify-center.w-6.h-6.shrink-0
                                +svg('check', 'w-5 h-5 text-green')
                            div(class="flex flex-col gap-1.5")
                                h3.font-bold.text-secondary Sube tu CV
                                p(class="text-small-mobile md:text-small-desktop") Haz visible tu talento a las empresas.
                        div(class="flex gap-3 items-start")
                            .flex.items-center.justify-center.w-6.h-6.shrink-0
                                +svg('check', 'w-5 h-5 text-green')
                            div(class="flex flex-col gap-1.5")
                                h3.font-bold.text-secondary Consigue entrevistas
                                p(class="text-small-mobile md:text-small-desktop") Postúlate fácilmente y sigue tu progreso.
                        div(class="flex gap-3 items-start")
                            .flex.items-center.justify-center.w-6.h-6.shrink-0
                                +svg('check', 'w-5 h-5 text-green')
                            div(class="flex flex-col gap-1.5")
                                h3.font-bold.text-secondary Mantén tu CV al día
                                p(class="text-small-mobile md:text-small-desktop") Actualiza tu experiencia y consigue más oportunidades.
                    a(href="/registro" class="btn btn-secondary md:w-fit") Regístrate


