extends ../layouts/base

block title
    | Ofertas de trabajo - R&S Jobs

block content

    .container
        div(class="grid xl:grid-cols-12 gap-[30px] py-6 md:py-8")
            div(class="xl:col-span-9 flex flex-col gap-6 md:gap-8")
                h1(class="sr-only md:not-sr-only text-secondary font-bold text-heading-desktop-3") Encuentra #[strong la mejor oferta de empleo] adaptada a tus necesidades
                div(data-component="JobList")
            div(class="hidden xl:col-span-3 shrink-0 xl:block bg-dark/50 text-center")

