extends ../layouts/base

block title
    | Empresas - R&S Jobs

block content

    .container-sm
        div(class="w-full flex flex-col gap-6 md:gap-[50px] py-6 md:py-[150px]")
            h1(class="text-secondary font-bold text-heading-mobile-1 md:text-heading-desktop-1 text-center lg:max-w-[70%] lg:mx-auto") Descubre dónde podría estar #[strong tu próximo empleo]

            div(class="flex flex-col lg:flex-row gap-6 lg:gap-[30px]")
                div(class="shadow-md flex flex-col gap-6 bg-white rounded-lg p-6 md:p-8 lg:w-[70%] lg:max-w-[670px] shrink-0 text-center")
                    div(class="flex flex-col gap-3")
                        h2(class="text-secondary font-bold text-heading-mobile-3 md:text-heading-desktop-3") Encuentra diferentes empresas en las que #[strong desarollar tu carrera profesional]
                        p Miles de empresas colaboran con R&S Jobs, encuentra la tuya.

                    div(data-component="CompanySearch")

                .shrink-1.flex.items-center.justify-center
                    img(src="/assets/images/companies-search/header-mobile.png" alt="" class="lg:hidden w-full rounded-lg h-auto")
                    img(src="/assets/images/companies-search/header-desktop.png" alt="" class="hidden lg:block w-full rounded-lg h-auto")


