include review
include color-card

mixin testimonials()
    - const testimonials = [{"text": "Este mes estuve buscando trabajo en el sector hostelería donde llevo años desarrollándome profesionalmente. Me inscribí a varias ofertas siendo  una de ellas la empresa R&S que contactó conmigo.  Me citaron con Marta Venero y tuvimos una primera cita en sus  instalaciones. Tras esta primera toma de contacto fui seleccionado para  una segunda entrevista con la dirección del restaurante y posteriormente con el equipo jefe de sala. Quisiera agradecer la profesionalidad y el  carácter humano que me proporcionó R&S acompañándome a todas las  entrevistas y apoyándome en todo momento. Muchas gracias Marta Venero por ser tan atenta, cercana y profesional. Mañana empiezo un nuevo  proyecto con mucha ilusión y quería agradecer a R&S jobs por su  gestión!!!", "name": "Fernanda Barrera"}, {"text": "Contraté sus servicios para incorporar una vacante en el despacho y estamos muy contentos. Son ágiles, serios y muy  profesionales. Agradecidos a la empresa, así  como a Marta y su equipo  por la calidad de los candidatos presentados y por todas las gestiones y apoyo que nos brindaron en el proceso de selección. Muy recomendables.", "name": "Nic Fer"}, {"text": "Mónica es muy amable y profesional. Sin duda, recomiendo a R&S Jobs. Son diferentes y mejores en su sector.", "name": "Rocio Moreno"}]
    - const ctaCards = [{"title": "Potencia tu búsqueda de empleo", "description": "Descubre consejos, guías y buenas prácticas para encontrar trabajo de forma más rápida y efectiva.", "cta": "IR AL BLOG", "image": "/assets/images/home/blog.png", "href": "/"}, {"title": "¿Buscas talento para tu empresa?", "description": "Publica ofertas y encuentra candidatos en nuestro portal especializado para empleadores y RRHH.", "cta": "BUSCO TALENTO", "image": "/assets/images/home/rrhh.png", "href": "/"}]
    - const colors = ['bg-green', 'bg-blue', 'bg-red']

    .container(class="py-[50px] md:py-[100px]")
        div(class="flex flex-col md:flex-row-reverse items-center gap-6 md:gap-[30px]")
            div(class="hidden md:flex flex-col md:gap-6 md:w-[50%]")
                each testimonial, index in testimonials
                    - const color = colors[index]
                    - const align = index % 2 === 0 ? 'md:self-start' : 'md:self-end'
                    +review(testimonial, color, align)

            .swiper.testimonials-swiper(class="md:!hidden overflow-hidden w-full")
                .swiper-wrapper
                    each testimonial, index in testimonials
                        - const color = colors[index]
                        .swiper-slide
                            +review(testimonial, color)
                .swiper-pagination

            div(class="flex flex-col items-start gap-8 md:w-[50%]")
                img(src="/assets/images/home/google-reviews.png" alt="Google Reviews" class="w-[182px] h-auto")
                .flex.flex-col.gap-4
                    h2(class="text-heading-mobile-2 md:text-heading-desktop-2 text-secondary font-bold") Ellos ya lo consiguieron. Tú puedes ser&nbsp;
                        strong(class="text-primary") el siguiente
                        | .
                    p Miles de candidatos ya han confiado en R&S Jobs. Con una valoración de 5 estrellas en Google, sus experiencias son nuestra mejor carta de presentación.
                a(href="/" class="btn btn-primary") Registrate ahora tu también

        div(class="flex flex-col md:flex-row gap-4 pt-[50px] md:pt-[100px]")
            each ctaCard, index in ctaCards
                - const color = index === 0 ? 'red' : 'blue'
                    +color-card(ctaCard, color)
