include ./company-card

mixin top-companies()

    - const companies = [{"type": "company", "title": "SOLVE THE X", "tags": ["3 ofertas"], "href": "/empresa/solvethex", "image": "/assets/images/home/companies/solvethex.png", "logo": "/assets/images/home/companies/solvethex-logo.png"}, {"type": "company", "title": "ElectryConsulting", "tags": ["37 ofertas"], "href": "/empresa/electryconsulting", "image": "/assets/images/home/companies/electryconsulting.png", "logo": "/assets/images/home/companies/electryconsulting-logo.png"}, {"type": "company", "title": "L'ver Hoteles", "tags": ["7 ofertas"], "href": "/empresa/lver", "image": "/assets/images/home/companies/lver.png", "logo": "/assets/images/home/companies/lver-logo.png"}, {"type": "company", "title": "Netflix", "tags": ["9 ofertas"], "href": "/empresa/netflix", "image": "/assets/images/home/companies/netflix.png", "logo": "/assets/images/home/companies/netflix-logo.png"}, {"type": "company", "title": "Spotify", "tags": ["5 ofertas"], "href": "/empresa/spotify", "image": "/assets/images/home/companies/spotify.png", "logo": "/assets/images/home/companies/spotify-logo.png"}, {"type": "company", "title": "Instagram", "tags": ["23 ofertas"], "href": "/empresa/instagram", "image": "/assets/images/home/companies/instagram.png", "logo": "/assets/images/home/companies/instagram-logo.png"}]

    .container.flex.flex-col.gap-8
        div(class="text-center text-heading-mobile-2 lg:text-heading-desktop-2 font-bold text-secondary") Las mejores empresas buscan tu talento. #[strong(class="text-primary") ¡Descúbrelas!]
        div(class="grid grid-cols-1 md:grid-cols-2 gap-4 lg:grid-cols-3")
            each item in companies
                +companyCard(item)

