
doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title
            block title
                | Portal de Empleo - R&S Jobs
        link(rel="stylesheet" href="/css/output.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
        link(rel="icon" href="/assets/images/favicon-32x32.png")

    body(class="text-body-mobile md:text-body-desktop bg-light text-dark flex flex-col min-h-screen")
        // Incluir componentes
        include ../components/navbar
        include ../components/footer
        include ../components/backdrop
        include ../components/svg

        // Usar los mixins con los datos del JSON
        +navbar(data)

        main(class="flex flex-col flex-1")
            block content

        +footer(data)

        +backdrop

        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")

        // Script de Vite - Bundle generado automáticamente
        script(src="/static/bundle.js")
