
doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title
            block title
                | Portal de Empleo - R&S Jobs
        link(rel="stylesheet" href="/static/bundle.css")
        link(rel="stylesheet" href="/css/output.css")
        link(rel="icon" href="/assets/images/favicon-32x32.png")

    body(class="text-body-mobile md:text-body-desktop bg-light text-dark flex flex-col min-h-screen")
        include ../components/navbar
        include ../components/footer
        include ../components/svg

        +navbar(data)

        main(class="flex flex-col flex-1")
            block content

        +footer(data)

        div(data-component="CookieBanner")
        div#global-svelte

        block scripts

        script(src="/static/bundle.js")
