mixin cta()

    .container
        div(class="relative flex flex-col md:flex-row-reverse gap-6 md:gap-12 pt-[50px] md:py-[70px] md-2:py-[105px]")
            div(class="flex flex-col md:w-[48%]")
                div(class="text-secondary font-bold text-heading-mobile-2 lg:text-heading-desktop-2") Cada día, más candidatos reciben llamadas para #[strong(class="text-primary") ser entrevistados]
                div(class="text-dark mt-2 md:hidden lg:block") R&S Jobs conecta talento con empresas reales. Súmate al portal donde las oportunidades llegan a quienes están listos.
                a(href="/registro" class="btn btn-primary text-white mt-6 w-fit") Regístrate y recibe ofertas
            img(src="/assets/images/home/cta.png" alt="" class="w-full md:absolute bottom-0 left-0 md:w-[44%] h-auto object-cover")
