mixin svg(name, className, alt)
    - let svgContent = svgs[name] || ''
    - if (className) svgContent = svgContent.replace(/<svg /, `<svg class="${className}" `)
    - if (alt) svgContent = svgContent.replace(/<svg /, `<svg aria-label="${alt}" `)
    - else svgContent = svgContent.replace(/<svg /, `<svg aria-hidden="true" `)
    != svgContent
